@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
    --primary: #0068FF;
    --primary-light: #5A9CFF;
    --primary-dark: #0041B3;
  
    --secondary: #FFC107;
    --secondary-light: #FFD54F;
    --secondary-dark: #FFA000;
    --secondary-muted: #FFF8E1;
  
    --accent-green: #4CAF50;
    --accent-red: #F44336;
    --accent-orange: #FF9800;
  
    --grey: #B0B0B0;
    --light-grey: #F5F5F5;
    --dark-grey: #616161;
  
    --background: #F2F6FF;
    --background-secondary: #FFF8E1;
    --surface: #FFFFFF;
  
    --text-primary: #2F4664;
    --text-secondary: #B0B0B0;
    --text-hint: rgba(0, 0, 0, 0.38);
  
    --button-primary: #0068FF;
    --button-secondary: #FFC107;
    --button-text: #FFFFFF;
  
    --error: #F44336;
    --success: #4CAF50;
    --warning: #FF9800;
    --info: #5A9CFF;
  
    --divider: #E0E0E0;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.flag-dropdown{
  border: none !important;
  border-right: 1px solid #cacaca !important;
}
.react-tel-input .form-control{
  border: none !important;
}
.react-tel-input .selected-flag, .flag-dropdown {
  border-radius: 16px 0 0 16px !important;
}
@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-background max-md:px-0 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-white max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-primary text-[12px] text-light-1 !important;
  }



  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-white px-6 py-3 max-sm:px-0;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-gray-100 bg-white pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-gray-100 bg-white px-10 pb-6 pt-28 max-xl:hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-white text-gray-900 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-gray-900 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}


.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-primary !important;
}

.ul:has(li:active){
  
}
.css-1ocwoqn-MuiStack-root>:not(style)~:not(style) {
  margin-left: 16px !important;
}
[dir="rtl"] .css-1ocwoqn-MuiStack-root>:not(style)~:not(style) {
  margin-left: 0px !important;
  margin-right: 16px !important;
}